<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!--
	BASED ON Fixduty template
http://w3layouts.com/preview/?l=/fixduty-a-corporate-business-flat-responsive-web-template/
-->
<!--
Redesign by Didier Laureaux
And I have add comment in code.
-->
<!DOCTYPE HTML>
<html>
<head>
<title>Game Of Thrones</title>
<link href="/css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
<link href="/css/style.css" rel="stylesheet" type="text/css" media="all" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="/css/swipebox.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/js/pencarian.js" defer></script>
</head>
 

<body><!--Body start-->
	<div class="header2" id="head">
		<div class="header-top">
				<div class="container">
			<div class="logo">
				<a href="/"><img src="/images/logo.png"></a><!--Put your logo here-->
				</div>
				<div class="top-menu">
					<span class="menu"> </span>
					<!--Menu-->
				<ul>
					<ul>
						<li><a href="/" class="scroll" class="scroll">home</a></li>
							<li><a href="/grafikbar/book1" class="scroll">Grafik Bar</a></li>
								 <li><a href="/pencarian/book1" class="scroll">Pencarian</a></li>
									 <li><a href="/graftakberarah/book1" class="active">Graf tidak berarah</a></li>
							</ul>
						<!--End Menu-->
					</div>
					 <!--script-nav-->
		 <script>
		 $("span.menu").click(function(){
		 $(".top-menu ul").slideToggle("slow" , function(){
		 });
		 });
		 </script>
				<div class="clearfix"> </div>
					</div>
					</div>

					<div class="slider"> <!--Slider Section-->
						<div class="container">
							  <div class="callbacks_container">
								<div class="clearfix"> </div>	
							</div>
							</div>
							<div class="title" style="text-align: center; color: white;"><h1><span>Game of Thrones</span> books :</h1></div>
							<br>
							<div style=" text-align: center; margin-bottom: 5em;" class="at">
								<a href="book1"><img  class= "gambar" src="/images/book1.jpg" style="height: 5%; width: 5%; border: solid #d6a100;"></a>
								<a href="book2"><img class= "gambar" src="/images/book2.jpg" style="height: 5%; width: 5%;"></a>
								<a href="book3"><img class= "gambar" src="/images/book3.jpg" style="height: 5%; width: 5%;"></a>
								<a href="book4"><img class= "gambar" src="/images/book4.jpg" style="height: 5%; width: 5%;"></a>
								<a href="book5"><img class= "gambar" src="/images/book5.jpg" style="height: 5%; width: 5%;"></a>
							</div>
							<div>
								<canvas id="myChart"></canvas>
							  </div>
							<div class="wrap">
							 </div>
						 </div>
				   </div>

				  
                   <script>
					const labels = [
					'Tyrion-Lannister',
					'Tyrion-Lannister',
					'Sansa-Stark',
					'Stannis-Baratheon',
					'Joffrey-Baratheon',
					'Jon-Snow',
					'Varys',
					'Hodor',
					'Stannis-Baratheon',
					'Rickon-Stark',
				  ];
				  const data = {
					labels: labels,
					datasets: [{
					  label: 'TOP 10 WEIGHT',
					  backgroundColor: 'rgb(255,255,0)',
					  borderColor: 'rgb(255,255,0)',
					  data: [92, 87, 76, 70, 63, 63, 63, 63, 59, 58],
					}]
				  };
					
					const config = {
					type: 'bar',
					data: data,
					options: {}
				  };
					
					var myChart = new Chart(
					  document.getElementById('myChart'),
					  config
					);
				  </script>
</div> <!--End Slider Section-->

	</body>
</html>